/* Global Styles */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


/* Header Styles */


h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #666;
  line-height: 1.2;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #777;
  line-height: 1.4;
}


/* Form Styles */


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-step {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-step h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

label {
  font-size: 16px;
  margin-bottom: 10px;
  color: #666;
  display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="file"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f7f7f7;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}


/* Additional Text Styles */


p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #666;
}

a {
  text-decoration: none;
  color: #4CAF50;
  transition: color 0.3s ease;
}

a:hover {
  color: #3e8e41;
}


/* Responsive Design */


/* Large Desktops */


@media (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}


/* Desktops */


@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}


/* Tablets */


@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin: 20px auto;
    padding: 15px;
  }
  .form-step {
    padding: 15px;
  }
}


/* Mobiles */


@media (min-width: 480px) and (max-width: 767px) {
  .container {
    padding: 10px;
  }
  .form-step {
    padding: 10px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  select {
    padding: 8px;
  }
}


/* Small Mobiles */


@media (max-width: 479px) {
  .container {
    padding: 5px;
  }
  .form-step {
    padding: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  select {
    padding: 5px;
  }
  button[type="submit"] {
    padding: 8px 15px
